@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #283593;
  /* indigo-900 like */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-wave {
  animation: wave 10s linear infinite;
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}